<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Generated Graph for {{symb}}</h1>
      <h4>Would you like to try another stock? <form><input type='submit' value='Next Stock' action='next_ticker'/></form></h4>   
      {{ div | safe }}
    </div>
  </body>
</html>
